<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </ul>
        <app-search (searchAlbums)="search($event)"></app-search>


    </div>
</nav>

<div class="card" *ngIf="album">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ album.title }}</h5>
        <h6>Name: {{album.name}}</h6>
        <p class="card-text">{{album.description }}</p>
        <p>Duration: {{ album.duration || 0 }} min</p>
        <p>Like: {{ album.like || 'no Like' }}</p>
        <ul *ngIf="album.tags" class="list-inline">
            <li class="list-inline-item" *ngFor="let word of album.tags">
                <span class="badge badge-info">{{ word }}</span>
            </li>
        </ul>
        <img *ngIf="album.url" width="300" src="../assets/images/default_image.png" class="rounded mx-auto d-block" alt="...">
    </div>
</div>
